@model Notetrix.Web.Models.Note.NoteModel

<button id="create-note" onclick="createNote(100)">New</button>

<div id="notes-container">
	@foreach ( var note in Model.Notes )
	{
		<div data-id="@note.Id">
			<h3>@note.Title</h3>
			<textarea>@note.Content</textarea>
		</div>
	}
</div>

<script>

	let notesContainer = document.getElementById("notes-container");

	let addNoteToDom = function (title, content, id) {
		console.log("adding note to dom");
		let noteContainer = document.createElement("div");
		noteContainer.id = id;
		let noteTitle = document.createElement("h3");
		noteTitle.innerText = title;
		let textArea = document.createElement("textarea");
		textArea.innerText = content;

		noteContainer.appendChild(noteTitle);
		noteContainer.appendChild(textArea);

		console.log("Adding note to dom");
		console.log(noteContainer);
		notesContainer.appendChild(noteContainer);
	}

	let createNote = function (userId) {
		fetch(`/note/createnote?userId=${userId}`,
				{
					method: 'POST'
				})
			.then(data => data.json())
			.then(note => {
				// we now have the new note
				console.log(note);
				
				addNoteToDom(note.title, note.content, note.id);
			});
	}


</script>