@model Notetrix.Web.Models.Note.NoteModel
1
Add Your Kit's Code to a Project
<script src="https://kit.fontawesome.com/87ce340d08.js" crossorigin="anonymous"></script>
<style>
	.noteContainer {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
	}

		.noteContainer input {
			border: none;
			margin: 5px 0px;
		}

		.noteContainer textarea {
			border: none;
			margin: 5px 0px;
		}
</style>
<button id="create-note" onclick="createNote()">New</button>

<div id="notes-container">
	@foreach ( var note in Model.Notes )
	{
		<div class="noteContainer" data-id="@note.Id">
			<div><input onkeyup="updateNote(this)" value="@note.Title" /><i onclick="deleteNote(this)" class="fas fa-trash"></i></div>
			<textarea onkeyup="updateNote(this)">@note.Content</textarea>
		</div>
	}
</div>

<script>

	let notesContainer = document.getElementById("notes-container");

	let addNoteToDom = function (title, content, id) {
		console.log("adding note to dom");
		let noteContainer = document.createElement("div");
		noteContainer.id = id;
		noteContainer.classList.add('noteContainer');
		let noteTitle = document.createElement("input");
		noteTitle.value = title;
		let textArea = document.createElement("textarea");
		textArea.innerText = content;

		noteContainer.appendChild(noteTitle);
		noteContainer.appendChild(textArea);

		console.log("Adding note to dom");
		console.log(noteContainer);
		notesContainer.appendChild(noteContainer);
	}

	let createNote = function () {
		console.log('creating note')
		fetch(`/note/createnote?userId=${getUserId()}`,
			{
				method: 'POST'
			})
			.then(data => data.json())
			.then(note => {
				// we now have the new note
				console.log(note);

				addNoteToDom(note.title, note.content, note.id);
			});
	}

	let deleteNote = function (deleteElement) {
		let noteContainer = deleteElement.parentNode.parentNode;
	}

	let updateNote = function (textArea) {
		let noteContainer = textArea.parentNode;
		console.log(noteContainer);

		let title = noteContainer.querySelector('input').value;
		let body = noteContainer.querySelector('textarea').value;

		fetch(`/note/updatenote?userId=${getUserId()}&noteId=${getNoteId(noteContainer)}`,
			{
				method: 'PATCH',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					title: title,
					content: body
				})
			});

	}

	let getUserId = function () {
		return new URLSearchParams(window.location.search).get('userid');
	}

	let getNoteId = function (noteNode) {
		return noteNode.getAttribute("data-id");
	}

</script>